@import "tailwindcss";

@theme {
  --color-bg-primary: #171919;
  --color-bg-secondary: #2F5FCE;
  --color-bg-glass: rgba(255, 255, 255, 0.05);
  --color-text-primary: #FEFEFF;
  --color-text-secondary: #A1A1AA;
  --color-accent: #2F5FCF;
  --color-border-subtle: #27272A;
  
  --font-inter: var(--font-inter);
  --font-playfair: var(--font-playfair);
}

html { 
  scroll-behavior: smooth; 
}

body { 
  background-color: var(--color-bg-primary); 
  color: var(--color-text-primary); 
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
}

::selection { 
  background: var(--color-accent); 
  color: var(--color-bg-primary); 
}